// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "brownregular";
  // src: font-url('brownregular.eot');
  src: font-url('brown-regular-webfont.woff') format('woff'),
      //  font-url('brownregular.ttf') format('truetype'),
      //  font-url('brownregular.eot?#iefix') format('embedded-opentype')
}
$my-font: "brownregular";

// Define fonts for body and headers
$body-font: $my-font, "sans-serif";
$headers-font: $my-font, "sans-serif";
