// Import your components CSS files here.
@import "bubble";
@import "slider";


// default styling

* {
  box-sizing: border-box;
  color: $darkblue;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $darkblue;
 }

html {
  font-size: 10px;
}

li {
  list-style: none;
 }

 p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}
