<div class="container">



  <div class="card__slider" data-controller="slider">

    <div class="card__container" data-slider-target="container">
        <!--bubble-->
        <div class="item-container card__row">
          <div class="card border-0">
            <div class="bubble">
              <a class="favorites-link" href="#">
                <h2 class="title">Meet The Favorites</h2>
                <p class="link">SHOP ALL</p>
              </a>
            </div>
          </div>
        </div>

        <!--products-->
        <% @products.each do |p| %>
          <a href="">
            <div class="item-container card__row">
              <div class="card border-0">
                <%= image_tag p.imageUrl, class:"product-img d-block", alt:"#{p.name} product image", draggable:"false" %>
                  <div class="card-body">
                    <div class="name text-center"><%= "#{p.name.upcase} | $#{p.price}" %></div>
                    <div class="desc text-center"><%= p.description %></div>
                    <div class="star"><%= p.rating %></div>
                  </div>
            </div>
            </div>
          </a>
        <% end %>

    </div>
    <button class="arrow" data-action="click->slider#prev">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="arrow" data-action="click->slider#next">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>

</div>


<!-- -->
